:root {
    --font:"Roboto", sans-serif;
    --prim: #A31621;
    --sec: #ff8901;
    --tert: #f5f5f5;
    --grad: linear-gradient (
        var(--prim), var (--sec)
    );
}

*{box-sizing: border-box;}

/* tags */

body {
    margin: 0;
    padding: 0;
    background-color: var(--tert);
}

.banner-image {
    height: 20vh;
}

.header-link {
    color: var(--tert);
}

.header-link:hover {
    color: gold;
    border: 1px solid blue;
}


.list-link {
    color: white;
}

.list-link:hover {
    color: gold;
    border: 1px solid blue
}

.my-card-header {
    background-color: var(--sec);
}

.card-top{
    font-family:'Times New Roman', Times, serif
}

.card-text {
    font-family: 'Courier New', Courier, monospace;
}

.buy-btn {
    color:red;

}

.btn-warning:hover {
    color:blue;
    border: 1px solid var(--sec)
}


#header {
    padding-top: 8px 0;
    background-color: var(--prim);
}


.navbar-link:hover {
    color: gold;
    border: 1px solid blue
}


#section1 {
    padding: 10px 0;
    background-color: var(--prim);
}

#section2 {
    background-color: var(--prim);
    background-image: var(--grad);
}

#footerSection1 {
    background-color: #A31621;
}

#footerSection2 {
    background-color: brown;
}

/* classes */

.logo {
    margin: 0;;
    font-family: var(--font);
    color: goldenrod;
}
/* ids */